.header {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header .header_box {
  max-width: 290px;
  width: 290px;
  height: 130px;
  padding: 10px;
  margin-top: 20px;
  outline: 5px solid hsl(217deg, 16%, 45%);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 401px) {
  .header .header_box {
    width: 60%;
    max-width: 500px;
  }
}
.header .header_box .logo {
  width: 100px;
  height: 80px;
}
@media screen and (min-width: 401px) {
  .header .header_box .logo {
    width: 114px;
    height: 115px;
  }
}
.header .header_box .scoreBox {
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .header_box .scoreBox .scoreHeader {
  font-weight: 500;
  color: hsl(229deg, 64%, 46%);
  text-transform: uppercase;
}
.header .header_box .scoreBox .totalScore {
  font-weight: 700;
  font-size: 50px;
  color: hsl(229deg, 25%, 31%);
}

.gameOption {
  width: 100%;
  padding: 80px 0px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.gameOption .gameBox {
  width: 350px;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.gameOption .gameBox .pentagon {
  width: 280px;
  height: 250px;
}
@media screen and (min-width: 401px) {
  .gameOption .gameBox .pentagon {
    width: 329px;
    height: 313px;
  }
}
.gameOption .gameBox .lizardBox,
.gameOption .gameBox .paperBox,
.gameOption .gameBox .rockBox,
.gameOption .gameBox .scissorBox,
.gameOption .gameBox .spockBox {
  position: absolute;
  width: 80px;
  height: 80px;
}
@media screen and (min-width: 401px) {
  .gameOption .gameBox .lizardBox,
  .gameOption .gameBox .paperBox,
  .gameOption .gameBox .rockBox,
  .gameOption .gameBox .scissorBox,
  .gameOption .gameBox .spockBox {
    width: 100px;
    height: 100px;
  }
}
.gameOption .gameBox .lizard,
.gameOption .gameBox .paper,
.gameOption .gameBox .rock,
.gameOption .gameBox .scissor,
.gameOption .gameBox .spock {
  width: 31px;
  height: 38px;
}
@media screen and (min-width: 401px) {
  .gameOption .gameBox .lizard,
  .gameOption .gameBox .paper,
  .gameOption .gameBox .rock,
  .gameOption .gameBox .scissor,
  .gameOption .gameBox .spock {
    width: 49px;
    height: 59px;
  }
}
.gameOption .gameBox .scissorBox {
  top: -15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 10px solid hsl(39deg, 89%, 49%);
  border-radius: 10000px;
  border: double 10px transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(90deg, hsl(39deg, 89%, 49%), hsl(40deg, 84%, 53%));
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.gameOption .gameBox .scissorBox:hover {
  cursor: pointer;
}
@media screen and (min-width: 401px) {
  .gameOption .gameBox .scissorBox {
    top: -20px;
  }
}
.gameOption .gameBox .lizardBox {
  bottom: -10px;
  left: 7%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 10px solid hsl(261deg, 73%, 60%);
  border-radius: 10000px;
  border: double 10px transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(90deg, hsl(261deg, 73%, 60%), hsl(261deg, 72%, 63%));
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.gameOption .gameBox .lizardBox:hover {
  cursor: pointer;
}
@media screen and (min-width: 401px) {
  .gameOption .gameBox .lizardBox {
    bottom: -15px;
    left: 5%;
  }
}
.gameOption .gameBox .paperBox {
  top: 40px;
  right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 10px solid hsl(230deg, 89%, 62%);
  border-radius: 10000px;
  border: double 10px transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(90deg, hsl(230deg, 89%, 62%), hsl(230deg, 89%, 65%));
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.gameOption .gameBox .paperBox:hover {
  cursor: pointer;
}
@media screen and (min-width: 401px) {
  .gameOption .gameBox .paperBox {
    top: 50px;
    right: 0;
  }
}
.gameOption .gameBox .rockBox {
  bottom: -10px;
  right: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 10px solid hsl(349deg, 71%, 52%);
  border-radius: 10000px;
  border: double 10px transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(90deg, hsl(349deg, 71%, 52%), hsl(349deg, 70%, 56%));
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.gameOption .gameBox .rockBox:hover {
  cursor: pointer;
}
@media screen and (min-width: 401px) {
  .gameOption .gameBox .rockBox {
    bottom: -20px;
    right: 5%;
  }
}
.gameOption .gameBox .spockBox {
  top: 40px;
  left: 7%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 10px solid hsl(189deg, 59%, 53%);
  border-radius: 10000px;
  border: double 10px transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(90deg, hsl(189deg, 59%, 53%), hsl(189deg, 58%, 57%));
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.gameOption .gameBox .spockBox:hover {
  cursor: pointer;
}
@media screen and (min-width: 401px) {
  .gameOption .gameBox .spockBox {
    top: 50px;
    left: 0;
  }
}

.btnDiv {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btnDiv .btnContainer {
  width: 400px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 401px) {
  .btnDiv .btnContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}
.btnDiv .btnContainer .btn {
  width: 150px;
  height: 50px;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 10px;
  font-size: 20px;
  letter-spacing: 3px;
  color: white;
  cursor: pointer;
}
@media screen and (min-width: 401px) {
  .btnDiv .btnContainer {
    margin-right: 20px;
  }
}

.ruleDiv {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  display: none;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.ruleDiv .imgRule {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 100vh;
  z-index: 100;
  border-radius: 0px;
}
.ruleDiv .imgRule .otherClose {
  display: none;
}
.ruleDiv .imgRule .mobileClose {
  display: block;
}
.ruleDiv .imgRule .gameRules {
  width: 80%;
}
@media screen and (min-width: 401px) {
  .ruleDiv .imgRule {
    width: 400px;
    height: 600px;
    border-radius: 10px;
  }
  .ruleDiv .imgRule .otherClose {
    display: block;
  }
  .ruleDiv .imgRule .mobileClose {
    display: none;
  }
}
.ruleDiv .imgRule .ruleHeader {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: hsl(214deg, 47%, 23%);
  text-transform: uppercase;
  font-weight: 700;
}
@media screen and (min-width: 401px) {
  .ruleDiv .imgRule .ruleHeader {
    justify-content: space-between;
    padding: 0px 20px;
    height: 50px;
  }
}
.ruleDiv .imgRule .closeSign {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(
    circle,
    hsl(214deg, 47%, 23%),
    hsl(237deg, 49%, 15%)
  );
}

.resultMode {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resultMode .showResult {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.resultMode .showResult .ChoiceDiv {
  margin-top: 30px;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.resultMode .showResult .ChoiceDiv .computerChoiceHolder {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resultMode .showResult .ChoiceDiv .playerChoiceHolder {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resultMode .showResult .ChoiceDiv .choiceLetter {
  width: 150px;
  font-size: 14px;
  height: fit-content;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  color: whitesmoke;
}
.resultMode .showResult .ChoiceDiv .winner {
  box-shadow: rgba(255, 255, 255, 0.15) 6px 6px 50px 11px,
    rgba(207, 205, 205, 0.2) 0px 0px 50px 20px,
    rgba(255, 255, 255, 0.3) 1px 1px 150px 30px;
}
.resultMode .showResult .playerChoiceLizard {
  border: 10px solid hsl(261deg, 73%, 60%);
  border-radius: 10000px;
  border: double 10px transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(90deg, hsl(261deg, 73%, 60%), hsl(261deg, 72%, 63%));
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.resultMode .showResult .playerChoicePaper {
  border: 10px solid hsl(230deg, 89%, 62%);
  border-radius: 10000px;
  border: double 10px transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(90deg, hsl(230deg, 89%, 62%), hsl(230deg, 89%, 65%));
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.resultMode .showResult .playerChoiceRock {
  border: 10px solid hsl(349deg, 71%, 52%);
  border-radius: 10000px;
  border: double 10px transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(90deg, hsl(349deg, 71%, 52%), hsl(349deg, 70%, 56%));
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.resultMode .showResult .playerChoiceScissor {
  border: 10px solid hsl(39deg, 89%, 49%);
  border-radius: 10000px;
  border: double 10px transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(90deg, hsl(39deg, 89%, 49%), hsl(40deg, 84%, 53%));
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.resultMode .showResult .playerChoiceSpock {
  border: 10px solid hsl(189deg, 59%, 53%);
  border-radius: 10000px;
  border: double 10px transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(90deg, hsl(189deg, 59%, 53%), hsl(189deg, 58%, 57%));
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.resultMode .declareResult {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resultMode .declareResult .resultAnnounce {
  font-size: 50px;
  color: whitesmoke;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.resultMode .declareResult .btnReset {
  width: 250px;
  height: 50px;
  background-color: whitesmoke;
  color: hsl(229deg, 25%, 31%);
  border-radius: 10px;
  font-size: 20px;
  letter-spacing: 3px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.resultMode .mediaStatusTab {
  display: none;
}
.resultMode .mediaStatusMob {
  display: flex;
}
@media screen and (min-width: 600px) {
  .resultMode .mediaStatusTab {
    display: flex;
  }
  .resultMode .mediaStatusMob {
    display: none;
  }
}

.resultModeHide {
  display: none;
}

/*# sourceMappingURL=bg-design.scss.map */
/*# sourceMappingURL=bg-design.scss.map */
/*# sourceMappingURL=bg-design.scss.map */
/*# sourceMappingURL=bg-design.scss.map */
/*# sourceMappingURL=bg-design.scss.map */
/*# sourceMappingURL=bg-design.scss.map */
/*# sourceMappingURL=bg-design.scss.map */

/*# sourceMappingURL=App.css.map */
